[2014-12-15 11:49] Blokcs opened #1 "error when activating in WP"
Hello, i got this message whwn trying to activate in WP: public_html/wp-content/plugins/woocommerce-quick-donation/woocommerce-quick-donation.php on line 344

Thank you in advance

[2014-12-16 01:32] #1 closed, assigned to varunsridharan

[2015-02-15 07:07] technofreaky opened #2 "WCQD V2.0 Features Info"
### Admin Side Features
- [x] Separate Page for donation order listing
- [ ] Separate page for donation order reports
- [x] Hide donation orders from woo commerce listing
- [x] Bubble notification in order listing page

### Site Side Features
- [x] Minimum Donation Amount
- [x] Maximum Donation Amount
- [x] Use Defined Custom Error Message
- [ ] Donation Form Widgets
- [ ] Donation Project With Go

[2015-02-20 17:03] ricki29 opened #3 "woocommerce-quick-donation Problem"
Warning: Invalid argument supplied for foreach() in /var/www/vhosts/ukipwolverhampton.org/httpdocs/wp-content/plugins/woocommerce-quick-donation/woocommerce-quick-donation-report.php on line 63

<?php
/**
 * Package : WooCommerce Quick Donation
 * Since : 1.0
 * Usage : Custom Report Page For Donation
 */

class wc_quick_donation_report {
    private $donation_orderids;
    private $status_count;

[2015-02-23 01:45] technofreaky commented on #3
Issue Fixed And Released A New Version.

[2015-02-23 01:45] #3 closed

[2015-02-25 06:19] wahidsherief opened #4 "Not Suitable for multisite"
I faced problem when i am using this plugin on wp multisite. I also want that it will do auto calculation with the woocommerce product sale. Like under a cause/event some products should sale using woocommerce. It will calculate how much sale/donation occurred and remaining amount to fill the goal of target amount of the cause/event.

Thanks

[2015-06-04 09:00] vafrcor opened #5 "Order Detail Error"
## Condition:

* WP 4.1.1
* WooCommerce 2.3.8
* WC Quick Donation 1.2

There is an error on WC Order Detail caused by this filter:
<code>add_filter('woocommerce_enable_order_notes_field',array($this,'order_notes'));</code>

At File >> <code>woocommerce-quick-donation.php</code>

I tried to fix it by replacing this code:
[code]

using this code:
[code]

I hope this help another people. thank you :+

[2015-06-04 09:06] vafrcor commented on #5
This is my screenshoot
![Uploading SS-WCQD-Admin-Error-WC-Order-Detail.jpg…]()

[2015-06-12 02:34] bgallagh3r opened #7 "Adding a donation does not redirect to cart/checkout if one already exists in users cart."
I am working with a site (WP ~4.2 and WooCommerce 2.3.11) where we have set WCQD to empty items and redirect to checkout page, and also to hide the donation form if a donation already exists.

If a user has a donation in their cart, and they return to the donate form it should not display at all, instead should give them a link to go to the currently set redirect page, or cart by default, but it d

[2015-07-04 17:14] frenzyrid11 opened #8 "error messages not displaying"
I am using the plugin on my website.
If I submit the form without entering any amount, or without selecting any project, the page redirects to itself and does not display the error messages. In fact it displays those error messages on the Cart page.
I need this fixed as soon as possible.

[2015-07-09 02:42] technofreaky commented on #8
Hi,

Can i get the error message so that i can check what is the issue. if possible kindly add screenshot

[2015-07-22 03:09] frenzyrid11 commented on #8
Hi,

What i mean to say is, if i submit the empty form, the errors stack on the cart page, but the users have no way of knowing they occur, the user is redirected to same page (donation) only.

[2015-08-27 20:02] cjrobe commented on #5
Thanks for the fix, works great.

[2015-09-30 15:19] rakib32 opened #9 "I want to change Drop down Text "Select A project" to different language"
Hi,

Can you add a feature so that we can change the text "Select A project" to different text :)

[2015-10-01 17:30] reradford commented on #5
Thanks for the fix. It seems to have fixed the problem on my website.

[2015-10-06 12:19] technofreaky commented on #9
Hi,

Really sorry for the delay. in current version its not possible. i am working on a new version. for that i need few tester's can you contribute your time for testing and improving the plugin ?
if yes kindly contact me via varunsridharan23@gmail.com / plugin@varunsridharan.in

[2015-10-07 18:15] nitiresources opened #10 "Add Donation not working"
Just installed, added project and attempt donation but no redirection and no donation at backend. It appears this error caused it. Warning: array_merge(): Argument #1 is not an array in /home/*****/public_html/wp-content/plugins/woocommerce-quick-donation/includes/admin/wps/settings.php on line 148

[2015-10-08 01:04] #5 closed

[2015-10-08 01:05] #9 closed

[2015-10-08 01:06] technofreaky opened #11 "Warning: array_merge(): Argument #1 is not an array"
WooCommerce Quick Donation
Versión 1.3 BETA

Updated now and:

 `
 Warning: array_merge(): Argument #1 is not an array in my_web/wp-content/plugins/woocommerce-quick-donation/includes/admin/wps/settings.php on line 148
 `

Support Link : https://wordpress.org/support/topic/warning-array_merge-argument-1-is-not-an-array-1?replies=1

[2015-10-08 01:14] technofreaky commented on #10
Hi,

I have fixed the issue. kindly download the latest source from github

Github : https://github.com/technofreaky/woocomerce-quick-donation/tree/WCQD-V2.0---3.0

Download Link : https://github.com/technofreaky/woocomerce-quick-donation/archive/WCQD-V2.0---3.0.zip

[2015-10-08 01:14] #10 closed

[2015-10-08 01:21] #11 closed

[2015-10-09 13:15] nitiresources commented on #8
This issue reported by @frenzyrid11 is still not solved. Please can @technofreaky it be attended to urgently?

[2015-10-10 01:53] technofreaky commented on #8
@nitiresources  sorry for the inconvenience caused.  can i know where did you called the shortcode

in a page / post / php template file  ?

[2015-10-10 13:50] nitiresources commented on #8
In a Page

On Sat, Oct 10, 2015 at 2:53 AM, Varun Sridharan <notifications@github.com>
wrote:

[2015-10-13 11:53] nitiresources commented on #8
Hi @technofreaky. Are you doing anything about it? I called the shortcode in a page and the moment I have attempted donating, the next attempt does not work until I clear my cache.

[2015-10-13 13:52] technofreaky commented on #8
@nitiresources  can you please come online chat for few min to get this resolved if you dont min ?

Chat Link : https://technofreaky.campfirenow.com/89dd8

[2015-10-14 15:03] nitiresources commented on #8
Hi Varun

This is the link to plugin. The first donation should redirect to checkout
page but the second will not. This means, if someone made a mistake in the
first and want to correct it before make the donation, he would not.

This is the second website I am using your plugin and its the same issue.

Thanks for attending to this issue.

Ezekiel

On Wed, Oct 14, 2015 at 4:00 PM, Niti Resources <

[2015-10-14 15:05] technofreaky commented on #8
Hi,

I have checked it and fixed too. will sure release it 1 day. its under testing

[2015-10-14 15:28] nitiresources commented on #8
Great effort. Waiting

On Wed, Oct 14, 2015 at 4:05 PM, Varun Sridharan <notifications@github.com>
wrote:

[2015-10-14 22:43] iwakun opened #12 "Unable to overwrite template"
I've created a 'donation-form.php' and placed it in the 'mytheme/woocommerce/donation' folder. However, the plugin still uses the generic template.

I think the error is somewhere in the class-quick-donation-functions.php file around line 155 in the 'wc_locate_template' function. If I echo $template_full_path on the first line, it's the custom template file, but when I echo it out before the retur

[2015-10-16 04:56] technofreaky commented on #12
Hi,

Thanks for reporting will change and update you

[2015-10-16 04:57] technofreaky commented on #8
Released a new version https://wordpress.org/plugins/woocommerce-quick-donation/
will soon update the code in github

[2015-10-18 22:43] macra opened #13 "order details"
On the edit order page in the 'Order Items' section It only shows the title of the single donation product.
![screen shot 2015-10-19 at 11 35 48 am](https://cloud.githubusercontent.com/assets/2403454/10567087/fe222e94-7655-11e5-9c22-b3f21844f15d.png)
It does show within the meta-data the project ID and is_donation variable, but not the project title.
This is rather inconvenient, as it isn't easy t

[2015-10-19 19:11] ierpe commented on #12
+1 same problem here...

[2015-10-20 02:34] technofreaky commented on #12
@ierpe

today i will check and update . :)

[2015-10-20 09:16] ierpe opened #14 "Donation form including user data directly sent to Woocommerce"
Hi,

This is a feature I would like to add to the plugin.
I'm willing to develop it, and I thought you might be able to help / know if it's possible...

Basically I would like to have a donation form that contains not only the donation amounts (one shot donation or recurring donation), but also the user data (name, address, email, etc), and the payment gateway choices, so that once the form is fil

[2015-10-20 09:44] technofreaky commented on #14
Hi,
Thanks for taking interest in this plugin :)  i am exited. it can be done.
can you develop the feature you requested and i will develop the base

[2015-10-20 09:52] ierpe commented on #14
Yeah sure, I will fork your plugin and make a pull request when I have something.

The thing I need to look into is how can I post all the data to WooCommerce at once...

[2015-10-20 09:53] ierpe commented on #14
Actually, I need to be able to override the donation template to achieve this... :) Do you think you will correct this issue today?

[2015-10-20 09:54] technofreaky commented on #14
You want extra field to save in order right ?

[2015-10-20 09:55] technofreaky commented on #14
its possible just a simple steps :+1:
please don't fork this repo now. because it not updated with latest source :(
can i know here are your from

[2015-10-20 09:57] technofreaky commented on #12
Hi,

Kindly go to
` plugins/woocommerce-quick-donation/includes/class-quick-donation-functions.php ` on line **42**
you will find a line with the same code `add_filter( 'woocommerce_locate_template' , array($this,'wc_locate_template'),10,3);` kindly come it. for now. i will release it with other bug fix by today or tomorrow

[2015-10-20 10:06] ierpe commented on #14
I am from France! Me and my associate have a web agency and we work a lot with NGOs, that's why I'm interested in developing further your plugin.

Actually, could you update the Github repo with the latest version of the plugin?
We work only with Git... it's the best way...
If you want I can also update my fork with the latest version...

Basically, the form I must achieve will contain the followi

[2015-10-20 10:07] technofreaky commented on #14
Ho thats nice. :)

till what time are you avaiable today. now i am at office will be back in 3 - 4 hrs max from now
i am from india and my time zone is +5:30 GMT

[2015-10-20 10:18] ierpe commented on #14
I send you an email, so you have mine.
Thanks for sending a quick fix for the template overriding issue!

[2015-10-20 15:52] technofreaky commented on #13
Hi,
Sure will fix it. currently working on modifying the order page for donation order in next 2 days it will be fixed

[2015-10-21 09:58] ierpe commented on #12
Still not working for me. If I echo ``` $locate ``` in the function ```locate_template``` line 147, I get :
[code]

I am using the [BedRock stack](https://roots.io/bedrock/) , maybe that has something to do with it?
It seems that it does not reach the woocommerce folder in my theme...

[2015-10-21 10:03] technofreaky commented on #12
@ierpe  can you please download the unreleased version of this plugin and check
Download link : http://varunsridharan.in/woocommerce-quick-donation.zip

[2015-10-21 10:08] ierpe commented on #12
Hi, how are you today? :)

I tried with this version but same thing...

When I echo $locate from line 178 in class-quick-donation-functions.php, I
still get :

/home/piero/www/bicewp/web/app/plugins/woocommerce-quick-donation/template/fields/field-select.php
/home/piero/www/bicewp/web/app/plugins/woocommerce-quick-donation/template/fields/field-text.php
/home/piero/www/bicewp/web/app/plugins/wooco

[2015-10-21 10:09] technofreaky commented on #12
No,

i have updated the code but not changed the version

[2015-10-21 10:15] technofreaky commented on #12
note that its not `donation_form.php` its `donation-form.php`

[2015-10-21 10:18] ierpe commented on #12
haaa! It's working now... it's weird because I'm pretty sure I copied the file from the template folder... It's working, even with the last github version

[2015-10-21 10:20] technofreaky commented on #12
ho nice

kindly use the version which i gave using download link . soon i will release it in wp plugin directory

[2015-10-21 10:33] ierpe commented on #12
ok!

[2015-10-21 14:19] ierpe opened #16 "WooCommerce Donation Product Not Exist"
Hey,

I don't know why this happened, and I do not find how I can recreate the donation product. I went into the Quick Donation settings but...
Deactivating / Reactivating the plugin did not solve the problem... any suggestion?

[2015-10-22 03:46] technofreaky opened #17 "Error While Adding New Order Via WP-ADMIN"
Error While Adding New Order Via WP-ADMIN

`Notice: Undefined index: customer_user in /opt/lampp/htdocs/wpdev/wp-content/plugins/woocommerce-quick-donation/includes/admin/metabox/class-donation-info-metabox.php on line 353`

[2015-10-26 14:43] kkotha82 opened #18 "My Account not showing donations unless there is existing order placed in woocommerce"
The donations made using the WQD plugin are not showing up under "my account" unless there are already existing orders placed through WooCommerce. Kindly rectify.

[2015-10-26 17:10] kkotha82 opened #19 "Manual Recurring Donation"
I am looking for a partial recurring feature. In the widget along with donated to project and donation amount, we capture whether it is recurring(yes/no), and if yes, the frequency(monthly,quarterly,half-yearly,yearly). Once a donation is made, the plugin reminds the donor one day before recurring due date, and again on the due date. The actual donation itself the user will do manually.

Can you b

[2015-10-26 17:18] kkotha82 commented on #2
I am looking for a partial recurring feature. In the widget along with donated to project and donation amount, we capture whether it is recurring(yes/no), and if yes, the frequency(monthly,quarterly,half-yearly,yearly). Once a donation is made, the plugin reminds the donor one day before recurring due date, and again on the due date. The actual donation itself the user will do manually.

Can you b

[2015-10-26 17:22] kkotha82 commented on #2
The donation 'project name' is not the same as WooCommerce 'product name'. I am using a plugin for generating PDF invoices. Is there a way for the plugin to read the project name, as opposed to the product name(which by default is listed as "Donation" by the WCQD plugin)?

[2015-10-26 17:23] kkotha82 commented on #2
Is it possible to have 2 extra mandatory billing user fields "Nationality" and "Passport/PAN Number" at checkout? These inputs should be saved against the user, and whenever the user logs in for another donation, these details should automatically appear in the billing details at checkout.

[2015-10-26 17:25] kkotha82 commented on #2
Can we add multiple donation projects with different amounts to a single cart and checkout as a single order? So if I want to donate different amounts to different projects, I can do it in one checkout, as opposed to making multiple orders.

[2015-10-26 20:40] macra opened #20 "No proceed to checkout"
In the latest update the proceed to checkout button is missing from the cart!

[2015-10-26 20:56] macra opened #21 "Error when deleting orders."
This error, "You do not have sufficient permissions to access this page." occurs when deleting orders from the orders listing.

[2015-10-26 21:00] macra commented on #21
Orders/donations are able to be trashed from the individual donation details. However when trashed you are redirected to the regular Woocommerce orders list rather than the Quick Donations donations list.

[2015-10-26 21:40] macra commented on #13
The fix is perfect, good work. I have discovered some other issues with the update however. Added here as new issues.

[2015-10-27 13:15] technofreaky commented on #20
@macra checkout button is now renamed to donation now :)

[2015-10-27 13:40] technofreaky commented on #18
@kkotha82
i checked it fully. i can't reproduce it. its perfectly working :+1:

[2015-10-27 14:08] technofreaky commented on #21
@macra

I am trying to fix the first issue

The wodpress default is to redirect to the same post type of the deleted post. this cannot be overide

[2015-10-27 22:26] macra commented on #20
I see no button whatsoever on my cart page for donations.
![screen shot 2015-10-28 at 11 22 00 am](https://cloud.githubusercontent.com/assets/2403454/10774492/589662b6-7d66-11e5-931d-dbe525311e17.png)

However a regular product has the usual checkout buttons.
![screen shot 2015-10-28 at 11 26 01 am](https://cloud.githubusercontent.com/assets/2403454/10774564/c9847490-7d66-11e5-967d-4c7aa6936c2d.pn

[2015-10-27 23:12] macra opened #22 "SIngle Donation"
While not a critical issue for the current site I'm using this plugin on, a possible feature I'd like is the ability to add more than just the one donation. At present if someone wants to make a donation on multiple projects they have to make(checkout) each donation individually. I think it would enhance the plugin to be able to add donations to more than one project at a time, and checkout/pay fo

[2015-10-28 01:03] bondchester opened #23 "Plugin failed to activate if Woocommerce is pre-installed/activated"
Fatal error: Call to undefined function WC() in /wordpress/wp-content/plugins/woocomerce-quick-donation-master/includes/class-quick-donation-functions.php on line 233

[2015-10-28 01:09] bondchester opened #24 "Error message when save changes"
Quick Donation -> Setting Page -> "Save Changes"

Warning: Cannot modify header information - headers already sent by (output started at /wordpress/wp-content/plugins/woocomerce-quick-donation-master/includes/admin/settings/validate-general.php:7) in /wordpress/wp-includes/pluggable.php on line 1207

[2015-10-28 10:33] kkotha82 opened #25 "Email not sending project name"
The confirmation email sent on successful donation lists the donation project as "Donation", and not the name of the actual project donated to.

![screen shot 2015-10-28 at 4 00 40 pm](https://cloud.githubusercontent.com/assets/15326217/10785948/4fc55184-7d8d-11e5-9381-dbd434cf3d61.png)

[2015-10-28 14:57] technofreaky commented on #8
This issues fixed :)

[2015-10-28 14:57] #8 closed

[2015-10-28 14:57] #12 closed

[2015-10-28 14:58] #13 closed

[2015-10-28 14:58] technofreaky commented on #17
Issue Fixed

[2015-10-28 14:58] #17 closed

[2015-10-28 14:58] #18 closed

[2015-10-28 15:08] technofreaky opened #26 "Notice When Core Template Updated."
Need to show update template notice when template updated in plugin.
message like woocommerce

[2015-10-28 16:14] technofreaky opened #27 "Custom Order Status"
Custom order status like

`donation-completed`
`donation-refunded`
`donation-on-hold`

[2015-10-28 21:19] benjamieson opened #28 "Overwrites existing shopping cart names."
Adding a donation to a cart with non-donation items (i.e. items form online store) breaks the whole cart.

All items in cart are labelled [Project Name], regardless if they are a donation, a coffee mug or a tshirt.

Checkout button also renamed to "Donate Now"

This is no good!
![screen shot 2015-10-28 at 5 18 08 pm](https://cloud.githubusercontent.com/assets/12400683/10803342/1744cd98-7d98-11e5-9

[2015-10-29 04:28] technofreaky opened #29 "Integration For WooCommerce PDF Invoices Packing Slips Required"
Reporter : @kkotha82

Request Link : https://github.com/technofreaky/woocomerce-quick-donation/issues/2#issuecomment-151215299

[2015-10-29 04:39] technofreaky opened #30 "dropdown default to a specific project based on admin or shortcode value"
Reporter : @kadavila

WP Support Link : https://wordpress.org/support/topic/is-there-a-way-to-make-the-dropdown-default-to-a-specific-project?replies=4

[2015-10-29 04:40] technofreaky commented on #22
Request For The Same in WP Support :+1:
https://wordpress.org/support/topic/multiple-donations?replies=4

[2015-10-29 04:41] technofreaky commented on #24
@bondchester
I have checked many times but i am not gettings this error. can you tell me the steps ?

[2015-10-29 04:55] technofreaky commented on #14
Hi, @ierpe do you have any update ?

[2015-10-29 04:58] technofreaky opened #31 "Predefined Donation Post Type Layout"
Need few predefined donation post type templates

Kindly post your donation layouts. best 5 will be selected and includes in plugin :)

[2015-10-29 06:03] bondchester commented on #24
1) Fresh Install Wordpress
2) Upload Plugin & Activate

When I get sometime this week I'll check out the source code and implement the checking routine.

[2015-10-29 06:05] technofreaky commented on #24
Hi,
Yesterday I have pushed latest source to github. In which it checks for WC
activation. Kindly can you check the Same issue with the latest source if
possible?

On Thu, Oct 29, 2015 at 11:33 am, David Huang < notifications@github.com [notifications@github.com] > wrote:
1) Fresh Install Wordpress
2) Upload Plugin & Activate

When I get sometime this week I'll check out the source code and implem

[2015-10-29 10:17] ierpe commented on #14
Hi, I have done something, but I don't think it's a great solution, I'm still looking on how to improve this.
Basically, in your ``` process_donation ``` function,  I'm storing the $_POST data into the customer WC session like this :

[code]

Then in the ``` donation-form-billing.php ``` I am getting these values back and put them into the form :
[code]
I created an "extended branch on my fork if

[2015-10-29 11:43] technofreaky commented on #14
@ierpe can we have a chat in next 3 hrs max ?

[2015-10-29 12:44] ierpe commented on #14
Hi Varun, hope you're good! :)

We are in a big rush atm, so I might not have a lot of time...
But I connected on the campfire room, so come anytime and hit me up!

On 29 October 2015 at 12:43, Varun Sridharan <notifications@github.com>
wrote:

--
Pierre

[2015-10-29 14:22] technofreaky commented on #28
Fixed And Updated In Github.

[2015-10-29 14:22] #28 closed

[2015-10-29 15:09] technofreaky commented on #7
Fixed Updated in Github

[2015-10-29 15:09] #7 closed

[2015-10-29 15:09] #23 closed

[2015-10-29 15:10] #26 closed

[2015-10-30 08:50] kkotha82 commented on #29
The plugin used to work before the current update. Now it doesnt work at all. When I click the "generate invoice" button, I get an error: Fatal error: Can't use method return value in write context in /home/bluec6g4/public_html/wp-content/plugins/woocommerce-quick-donation/includes/class-quick-donation-process.php on line 123

[2015-10-30 08:56] kkotha82 commented on #29
<b>Edit to the above:</b> The plugin is broken now. It is not working at all. As a donor, when I login, the page does blank and I am getting just the one line error as stated above.

[2015-10-30 09:06] technofreaky commented on #29
@kkotha82 will check for the issue and fix it. then i will work for the plugin integration

[2015-10-30 09:07] kkotha82 commented on #29
Awesome. Thank you! :)

[2015-10-30 13:27] #25 closed

[2015-10-30 13:47] benjamieson opened #33 "Current Master Fatal Error"
Installing current master branch results in:

Fatal error: Can't use method return value in write context in /home/content/37/9036137/html/wp-content/plugins/woocomerce-quick-donation-master/includes/class-quick-donation-process.php on line 123

[2015-10-30 13:50] technofreaky commented on #33
@benjamieson
can i please know the steps to reproduce this error. and a screen of this is required

[2015-10-30 13:54] benjamieson commented on #33
Step 1: Download Master Branch & Install
Step 2: Activate Plugin
Step 3: Sit is broken.
![screen shot 2015-10-30 at 9 53 48 am](https://cloud.githubusercontent.com/assets/12400683/10847346/256d0fca-7eec-11e5-9b03-f93bed69857b.png)

[2015-10-30 13:56] technofreaky commented on #33
@benjamieson
Can you please tell me the list of plugins you installed ?

[2015-10-30 13:58] #33 closed

[2015-10-30 13:59] technofreaky commented on #33
@benjamieson can you please download the latest source from github and try once. i have fixed it

[2015-10-30 14:07] kkotha82 commented on #33
Latest source downloaded and installed. Now the error says: <b>Parse error: syntax error, unexpected '.', expecting ')' in .../plugins/woocommerce-quick-donation/includes/class-quick-donation-process.php on line 187</b>

[2015-10-30 14:09] technofreaky commented on #33
@benjamieson sorry. again fixed the same. if you don't mind can you give a try  ?

[2015-10-30 14:15] benjamieson commented on #33
This issue appears resolved.

[2015-10-30 14:16] benjamieson commented on #33
Thanks. I have another one though! (will open separate ticket)

[2015-10-30 14:17] technofreaky commented on #33
ok.. @benjamieson thanks for your continues support :)

[2015-10-30 14:17] benjamieson opened #34 "Redirect not working"
Have settings set to:

- Redirect to: Checkout Page
- Donation Exists: Checkout Page

On submitting donation, no redirect occurs, and an empty notification panel displays.

![screen shot 2015-10-30 at 10 16 34 am](https://cloud.githubusercontent.com/assets/12400683/10847880/749fb9e6-7eef-11e5-8e02-d375df2c33e0.png)
![screen shot 2015-10-30 at 10 15 30 am](https://cloud.githubusercontent.com/assets

[2015-10-30 14:22] technofreaky commented on #34
@benjamieson kindly try updating error message in settings then try again

[2015-10-30 14:25] benjamieson commented on #34
Ahhh, you've killed the ability to buy form a store AND donate in one cart?

Uggh. That's kind of needed.

[2015-10-30 14:27] #27 closed

[2015-10-30 14:27] technofreaky commented on #27
Custom Post Status Not Required

[2015-10-30 14:28] technofreaky commented on #34
you can't add product + donation in a single cart

[2015-10-30 14:29] benjamieson commented on #34
OK. It was possible previously. Will that functionality be restored?

[2015-10-30 14:30] technofreaky commented on #34
@benjamieson i think you are aware of **BETA** version. and its not possible. to restore. because donation should be done as a seperate order not in a single order with products. i think you may understand

[2015-10-30 14:31] #34 closed

[2015-10-30 14:47] benjamieson opened #35 "Error Displayed after adding donation"
Adding a donation and being redirected to checkout page shows the following PHP Warning at top of page:

Warning: Missing argument 2 for WooCommerce_Quick_Donation_Functions::wc_page_endpoint_title() in /home/content/37/9036137/html/wp-content/plugins/woocomerce-quick-donation-master/includes/class-quick-donation-functions.php on line 71

![screen shot 2015-10-30 at 10 46 16 am](https://cloud.gith

[2015-10-30 14:52] technofreaky commented on #35
@benjamieson i am not able to replicate the issue here. can you please give me a debug info. kindly copy the support info from
**WooCommerce => System Report Page **

[2015-10-30 15:24] benjamieson commented on #35
Will try to get to this today.

[2015-10-30 15:25] benjamieson opened #36 "Donations in cart link to a 404 (Add Notice To Update Permalink When Donation Archive Not Working)"
Donation links in the cart need to link to the project page, not a 404 error.

If this can't be done, the link needs to be disabled on the cart page.

[2015-10-30 15:28] technofreaky commented on #36
@benjamieson.. kindly . provide some for info.

[2015-10-30 16:30] kkotha82 opened #37 "Thank you page after donation shows "donation" instead of project name"
After donation, the thank you page shows "donation" instead of project name under order details. Screenshot attached.

![thank-you-page](https://cloud.githubusercontent.com/assets/15326217/10851536/a3110ef8-7f51-11e5-9be4-885e51f54050.png)

[2015-10-30 23:01] benjamieson commented on #36
Step one: Add a donation.

Step 2: View your cart

The donation is in the cart. The donation name is a link.

Clicking the link throws a 404.

<img width="1092" alt="screen shot 2015-10-30 at 6 59 58 pm" src="https://cloud.githubusercontent.com/assets/12400683/10859941/a1a85ba2-7f38-11e5-8158-b707ea1806db.png">
<img width="1048" alt="screen shot 2015-10-30 at 1 24 28 pm" src="https://cloud.githubu

[2015-10-30 23:02] benjamieson commented on #36
(should show whatever you've content you've created for that 'project'

[2015-10-31 00:14] technofreaky commented on #36
@benjamieson cany you give the link where you get the 404 error ?

[2015-10-31 01:42] benjamieson commented on #36
https://breef.org/

Step 1: Make a donation (Right hand header)

Step 2: Click on "Cart" icon.

Step 3: Click on item (donation) in cart.

Result is a 404.

[2015-10-31 02:03] technofreaky commented on #36
@benjamieson Kindly update permalink settings once and try again.

[2015-10-31 02:06] technofreaky opened #38 "WC Quick Donation Request A Simple Support Status Like WC"
WC Quick Donation Request A Simple Support Status Like WC. form where the develop can be contacted with the basic info of the wp like (WP Version, WP theme Name .etc

[2015-10-31 11:20] tmextreme opened #39 "User can not change donate amount after donate button is clicked"
Hi,

Here is my site http://taafng.org/.

Steps
1. enter an amount and click donation
2. plugin takes you to the checkout page
3. Lets say internet connection breaks or you can just click any other link
4. if you go back to the home page, change the amount and Click on the donation button, it now calls the checkout page but the amount showing is still the previous amount entered

Regards
Tomi

[2015-11-01 03:28] #35 closed

[2015-11-01 03:28] #38 closed

[2015-11-01 14:10] benjamieson commented on #36
Done the update.

Now the description in the cart is renamed "Cart" which is very bad (it should be named at least with the name of the project), and links to the cart - again - not good.

<img width="966" alt="screen shot 2015-11-01 at 9 09 15 am" src="https://cloud.githubusercontent.com/assets/12400683/10869287/6fff77f2-8078-11e5-868b-c6152255049f.png">

[2015-11-01 14:32] technofreaky commented on #36
@benjamieson can you please contact me over my email to get this resolved
varunsridharan23@gmail.com

[2015-11-01 14:43] technofreaky commented on #36
@benjamieson i checked the issue in your site but its perfectly working in your site :)

[2015-11-01 16:01] panvagenas commented on #21
@technofreaky

Give me some time, I'm on it.

[2015-11-01 16:04] technofreaky commented on #21
@panvagenas thanks :)

[2015-11-01 18:12] panvagenas commented on #21
I'm sorry but can't help with this.

[2015-11-01 20:10] macra commented on #20
Any idea what might be happening here yet. We're hoping to deploy the site I'm using this plugin on asap and need to have this resolved.

[2015-11-02 00:10] technofreaky commented on #20
I think the issue might be with the template. If you have over ride the the
template the remove it and check

On Mon, Nov 02, 2015 at 1:40 am, Craig Macdonald < notifications@github.com [notifications@github.com] > wrote:
Any idea what might be happening here yet. We're hoping to deploy the site I'm
using this plugin on asap and need to have this resolved.

—
Reply to this email directly or view i

[2015-11-02 17:04] #21 closed

[2015-11-03 04:50] technofreaky commented on #21
@macra

The below misioned issue has been fixed in the latest commit. can you please check the same and update the status ?

[2015-11-03 11:34] kkotha82 commented on #2
Can we have a reports tab, where a report can be generated for total donations per month, per financial year, and by project, as indicated in the attached image?

![screen shot 2015-11-03 at 5 03 27 pm](https://cloud.githubusercontent.com/assets/15326217/10907072/f52707bc-824c-11e5-9c48-af08f0c1da86.png)

[2015-11-03 12:34] ierpe opened #40 "Orders in admin problems"
Hey Varun,

I noticed a couple of problems while viewing and deleting orders from the admin interface :

- While listing donations, if I click on the view button of a donation, it's the WooCommerce menu that opens instead of the WCQD menu

- When I'm viewing a donation, I can move it to the trash. I can see it in the donation trash alright, but in the WooCommerce orders, I see the trash number cou

[2015-11-03 14:02] technofreaky commented on #40
@ierpe
thanks for reporting the issue. but those all are takes different time and will be fixed in different release. so what i do is . i will create separate issue for each . so that it help to get keep tracked

[2015-11-03 14:06] technofreaky opened #41 "Issue While Viewing Single Donation"
While listing donations, if I click on the view button of a donation, it's the WooCommerce menu that opens instead of the WCQD menu

Issue ID : #40

[2015-11-03 14:07] technofreaky opened #42 "Wrong Count In WC Orders (Counted With Donations)"
When I'm viewing a donation, I can move it to the trash. I can see it in the donation trash alright, but in the WooCommerce orders, I see the trash number counting the trashed donations, although they do not appear in the list

Issue ID : #40

[2015-11-03 14:08] technofreaky opened #43 "Trash & Restore Issue For Donation Orders"
From the donations, I can trash some donations in a bulk, but I land on a blank page (but the donations are successfully trashed). Same thing happens when I restore the trashed donations, or when I permanently delete the trashed donations

Issue ID : #40

[2015-11-03 14:10] technofreaky opened #44 "Project Link & Donation Order Link Issue"
In the donation list, in the project column, I get stuff like : "Order – novembre 3, 2015 @ 06:38", because I did not create any project. This link has the format : http://mysite.com/fr/?post_type=shop_order&p=8767
When I click on it, I get a 404
Same thing when I view the order, this link appears and links to a 404 page.

Issue ID : #40

[2015-11-03 14:15] #2 closed

[2015-11-03 15:31] ierpe commented on #40
@technofreaky yes of course you're right.
I will also have a look and make pull requests if I find solutions.

[2015-11-03 15:32] technofreaky commented on #40
@ierpe thanks :)

[2015-11-04 06:12] kkotha82 opened #45 "Automatic confirmation email not sent when donation made through payment gateway"
When I make a new donation using <b>cheque/DD method</b>, the status of the donation is <b>"on-hold"</b>, I am getting the automatic confirmation email in this scenario.

But, when I make a donation using <b>payment gateway</b>, the status of the donation is <b>"processing"</b>. I am not getting the automatic confirmation email in this scenario.

Kindly fix this issue.

[2015-11-04 15:36] #29 closed

[2015-11-05 03:29] technofreaky commented on #43
@ierpe can you please check the same with the latest version 1.3.6 ?

[2015-11-05 03:30] technofreaky commented on #44
@ierpe can you please check the same with the latest version 1.3.6 ?

i not solved. can you please tell the steps and screenshot if possible

[2015-11-05 13:47] ierpe commented on #44
Not yet solved for me

![wcqd-wrong-link](https://cloud.githubusercontent.com/assets/790992/10969301/b463a92a-83c7-11e5-9ac0-498c8883631c.png)

I have not yet created any donation project... The link I circled in red is :
``` http://loc-bicewp.org/en/?post_type=shop_order&p=8837 ```

So it leads to a 404 page...
I am using a vhost and the WordPress Bedrock stack.

[2015-11-05 14:52] ierpe commented on #43
The problem persists...

I noticed in my Chrome console a 404 problem :

http://loc-bicewp.org/app/plugins/woocommerce-quick-donation/includes/css/admin-style.css returns a 404 -> I checked and the file isn't there
I don't think the problem comes from here though... I have no other error in Apache or my chrome console...

[2015-11-05 21:54] macra commented on #21
It's no longer throwing the error, but updates to a blank page. The order is deleted however.

[2015-11-05 21:56] macra commented on #43
I noticed this as well, as mentioned in my feedback to a related issue. I had the same blank page occur even deleting a single donation.

[2015-11-05 22:01] macra commented on #20
I don't have any overrides on the template, I will look into if it's a theme conflict. Have had to deploy the site, so I have just set it to go straight to checkout and a work around for now, although this is not ideal as it doesn't allow for cart changes or deletions.

[2015-11-06 00:45] technofreaky commented on #20
@macra can you please contact me vai email. and provide me access for development so that i can check for the issue.

[2015-11-06 00:51] technofreaky commented on #37
@kkotha82  can you please check for the issue with latest source and update the status here ?

[2015-11-06 00:51] #37 closed

[2015-11-06 00:51] #40 closed

[2015-11-06 05:33] technofreaky commented on #43
@ierpe @macra can you both please download the latest source from github and kindly check for the same issue. i have fixed today morning and updated in github :)

[2015-11-06 05:36] technofreaky commented on #45
@kkotha82  i have fixed this issue and also added 2 new emails (Complete & Processing) kindly check for the same with latest source

[2015-11-06 07:28] kkotha82 opened #48 "After bulk deleting (move to trash), blank page is coming up"
After selecting bulk donations, and clicking on move to trash, the page is reloading and blank page is showing up. Can it refresh and reload the donations page instead?

[2015-11-06 07:57] kkotha82 opened #49 "Donation Email Errors"
Two issues with donation emails:

<b>Issue 1: Cheque/DD Donation (on-hold status)</b>
After completing donation, I am getting two of the exact same emails

<b>Issue 2: Payment Gateway (processing status)</b>
After being redirected back from the gateway, I am getting a blank white screen, with just this error: <b>Fatal error: Call to a member function _is_donation() on a non-object in ..../woocomme

[2015-11-06 08:39] kkotha82 opened #50 "Donation projects in front end limited to 5"
I have 7 donation projects in my backend, but on the front-end, only 5 are showing up.

![screen shot 2015-11-06 at 2 06 06 pm](https://cloud.githubusercontent.com/assets/15326217/10992848/ffa09786-848f-11e5-8690-a54454103134.png)

![screen shot 2015-11-06 at 2 06 16 pm](https://cloud.githubusercontent.com/assets/15326217/10992850/0219819e-8490-11e5-823b-394d72264bae.png)

[2015-11-06 08:40] technofreaky commented on #48
@kkotha82 this is marked as Duplicate as this issue is already reported #43.
Kindly download the latest source from here and try once . this issue has been fixed. :)

[2015-11-06 08:40] #48 closed

[2015-11-06 16:02] #49 closed

[2015-11-06 17:12] #45 closed

[2015-11-06 17:14] #50 closed

[2015-11-06 17:15] technofreaky commented on #44
@ierpe instead of date it should show the donation project name .. can you please send me the access to that site for checking

[2015-11-06 17:29] kkotha82 opened #51 "After deleting donations, donors list still shows values"
Even after deleting all donations in the WCQD plugin, it is still showing values against users in the donors list.

![screen shot 2015-11-06 at 10 41 32 pm](https://cloud.githubusercontent.com/assets/15326217/11003694/071bf1be-84da-11e5-8648-53e97f9e35eb.png)

[2015-11-07 02:22] technofreaky commented on #16
@ierpe
New Option Added To SELF Check and create donation product via system tools page in WooCommerce Quick Donation System Tool Page

[2015-11-07 02:22] #16 closed

[2015-11-07 11:42] technofreaky opened #52 "Pref Defined Donation Amount"
Need to have a option in admin to set predefined donation amount value like below

![selbox](https://cloud.githubusercontent.com/assets/1884287/11014998/ad171ee8-8572-11e5-9f06-9f17ac04d0b6.png)

[2015-11-07 11:44] technofreaky commented on #36
@benjamieson as there is no reply from your side i am closing this issue now :) if you still have the same issue. you can reopen this or create a new issue at any time :)

[2015-11-07 11:44] #36 closed

[2015-11-07 11:45] technofreaky commented on #24
@bondchester as there is no reply from your side. i am closing this issue now. :)

[2015-11-07 11:45] #24 closed

[2015-11-07 11:46] #14 closed

[2015-11-07 13:44] kkotha82 opened #53 "Compatibility with them"

[2015-11-07 13:46] kkotha82 opened #54 "Cart discrepancy in theme drop down cart"
The name of the donation project in the cart (and checkout) <b>doesn't match</b> that in the top drop-down cart provided by the theme.

![cart-discrepancy](https://cloud.githubusercontent.com/assets/15326217/11015408/ea2f9f56-8583-11e5-9597-591f669661d2.jpg)

[2015-11-07 14:20] #42 closed

[2015-11-07 14:20] #51 closed

[2015-11-07 15:44] #54 closed

[2015-11-08 06:22] #30 closed

[2015-11-08 06:22] #43 closed

[2015-11-08 13:37] kkotha82 opened #55 "Multiple shortcodes showing different project categories"
Assuming I have a total of 30 donation projects, and I put 10 projects in category A, another 10 projects in category B, and the final 10 projects in category C. In the front-end shortcode, can I show only projects from category A, or B or C, or any other combination?

Perhaps something like [wc_quick_donation cat="A"] or [wc_quick_donation cat="A,C"]

[2015-11-08 22:02] macra commented on #20
What access do you need? Just wordpress or ftp as well.

[2015-11-08 22:07] macra opened #56 "Blank pages"
Updated to the latest version, and am getting blank pages in a number of places. When trashing donations from the donation listing, when restoring donations from the trash, after saving setting changes.

[2015-11-08 22:11] macra commented on #56
Ok I just noticed that the plugin is causing a blank page to load even with regular wordpress page updates etc.
Not good :( Had to disable the plugin

[2015-11-08 22:15] macra commented on #56
It's trying to redirect to wp-admin/options.php

[2015-11-08 22:18] macra commented on #56
Looks like its stripping the the query string from the redirct url

[2015-11-09 00:34] technofreaky commented on #20
I need wp access and ftp because if something goes wrong while check and editing
the code. Ftp will help to restore the website

On Mon, Nov 09, 2015 at 3:32 am, Craig Macdonald < notifications@github.com [notifications@github.com] > wrote:
What access do you need? Just wordpress or ftp as well.

—
Reply to this email directly or view it on GitHub
[https://github.com/technofreaky/woocomerce-quick-

[2015-11-09 00:36] technofreaky commented on #56
Can you please tell the steps reproduce this issue ?

On Mon, Nov 09, 2015 at 3:48 am, Craig Macdonald < notifications@github.com [notifications@github.com] > wrote:
Looks like its stripping the the query string from the redirct url

—
Reply to this email directly or view it on GitHub
[https://github.com/technofreaky/woocomerce-quick-donation/issues/56#issuecomment-154881442] .[https://github.com/

[2015-11-09 00:53] technofreaky commented on #56
@macra if possible can you come on live chat ?
Chat Link : https://www.hipchat.com/gVcsNs3aC

[2015-11-09 03:01] technofreaky opened #57 "Plugin With NO Gateway Configured Error"
I am getting the below error @ checkout page  when no gateway is configured :( and the script stops

( ! ) Warning: in_array() expects parameter 2 to be array, boolean given in C:\xampp\htdocs\wpdev\wp-content\plugins\woocommerce-quick-donation\includes\class-quick-donation-functions.php on line 256

[2015-11-09 03:17] technofreaky commented on #39
@tmextreme
Hi sorry for the delay. i will tell you a small work flow. if its ok then i will work on it

if user add donation for for project a with amount 20$ and due to some thing i returned to home page or disconnected from with website after adding donation.

and the same user comes again and adds project a with different amount (A => 10$). and this will replace the amount. if same user ties to

[2015-11-09 04:58] #57 closed

[2015-11-09 14:44] ierpe commented on #43
Hi, still not working for me after the update...

[2015-11-09 14:47] ierpe commented on #43
well... actually now it seem to work, maybe it was some caching issue...?

[2015-11-09 15:10] technofreaky commented on #43
@ierpe  may be. but without checking the your setup i can't say its  caching issue. i am happy that it worked for you :)

[2015-11-09 18:17] benjamieson commented on #36
Apologies - have been away. Issue seemed to only affect donations in the cart at upgrade time.

[2015-11-09 18:20] benjamieson opened #58 "Critical: Update to latest kills admin area"
Updated via Wordpress.com to 1.3.7.

Can no longer access the administration of WP. Following error is given:

Parse error: syntax error, unexpected T_PAAMAYIM_NEKUDOTAYIM in /home/content/37/XXXXXXXX/html/wp-content/plugins/woocommerce-quick-donation/includes/admin/class-admin-functions.php on line 134

followed by a blank page.

No projects appear on donations widget in header:

    https://bree

[2015-11-09 18:27] benjamieson commented on #58
![screen shot 2015-11-09 at 1 27 16 pm](https://cloud.githubusercontent.com/assets/12400683/11042529/a68f9c70-86e5-11e5-944e-0b630a770f1e.png)

[2015-11-09 18:29] benjamieson commented on #58
The screenshot above is after:

1: Deleting WCQD via FTP
2: Downloading master branch here
3: Plugins » Add New » Upload from wp-admin
4: Activate Plugin

[2015-11-09 18:31] benjamieson commented on #58
NOTE:

In PHP T_PAAMAYIM_NEKUDOTAYIM is the token name for ::, the static separator. It’s Hebrew for double colon.

[2015-11-09 23:01] macra commented on #56
Hi Varun, due to being in New Zealand, it's tricky to get the timing right when we are both online. I'll try to catch up when our times overlap favorably.  I'll clone the current site back into development mode, due to the sensitive nature of some of the content on the actual website, for security reasons I'm unable to give access. I'll let you know when I have a dev version available for you to c

[2015-11-10 00:29] technofreaky commented on #56
hi,

in the latest version 1.2.7 the issue has been fixed.

kindly check with the latest version

[2015-11-10 00:31] technofreaky commented on #58
hi,

I am really sorry for the inconvenience.

let me fix and release a fix version

[2015-11-10 01:23] technofreaky commented on #58
@benjamieson. could you please send me the access to check ? i  checked in my local. its fine. may be some php core version changes. so i need to check

[2015-11-10 08:27] technofreaky opened #59 "Empty Trash Not Working"
Empty Trash Not Working button is WC QD Order view is throwing some random error.

[2015-11-10 09:45] #58 closed

[2015-11-10 11:31] technofreaky commented on #59
Fixed And released in v 1.3.7.1

[2015-11-10 11:31] #59 closed

[2015-11-10 11:32] technofreaky commented on #58
@benjamieson can you please download V 1.3.7.1 and check

[2015-11-10 13:35] benjamieson commented on #58
Exactly the same issue.

I tried

1: Disabling all plugins
2: Activating WCQD - activation is fine
3: ReActivating WooCommerce: Parse Error immediately.

This is a live site, and the client depends on it for their charity, so I can't do any more random tests that break everything, unfortunately.

[2015-11-10 13:37] technofreaky commented on #58
@benjamieson can you please conme to online chat ?
https://www.hipchat.com/gVcsNs3aC

[2015-11-11 07:01] kkotha82 commented on #56
@macra I had the same issue.. Go to <b>../plugins/woocommerce-quick-donation/includes/admin/settings/fields.php</b> and remove the <b>?></b> PHP closing tag on line 132. That solved the issue for me. This is a quick fix for now. See if it helps.

[2015-11-11 07:04] kkotha82 commented on #56
@technofreaky I had the same problem with blank pages while performing admin actions on different pages. I turned on WP DEBUG and I saw two errors:

Warning: Cannot modify header information - headers already sent by (output started at ../wp-content/plugins/woocommerce-quick-donation/includes/admin/settings/fields.php:132) in ../wp-includes/option.php on line 787

Warning: Cannot modify header inf

[2015-11-11 20:08] macra commented on #56
@kkotha82 Worked for me, thanks friend.

[2015-11-11 20:15] Blackhawke commented on #56
I just installed the plugin today and am still having the issue (blank page on save) -- though at this point it seems to be limited to pages/actions associated with the plugin. If that changes, I'll let you know. I'm about to go work on (Yada) Wiki pages, so whether or not it has created the blank page problem system wide will soon be apparent. (If it has, I'll have to disable the plugin until it'

[2015-11-11 21:27] Blackhawke opened #60 "Media Library Doesn't Display When Plugin Active"
Okay, I added a comment over on the blank page bug, but the plugin is creating another problem as well, and it's system wide: With the plugin active, the media library is broken. I can't upload images, and it won't display the images already in the library either. When I disable the plugin (which I have), the image library works fine again.

(Running WP 4.3.1)

[2015-11-12 05:14] kkotha82 commented on #56
@macra Glad to know!

[2015-11-12 05:34] kkotha82 commented on #60
@Blackhawke Did you try and deactivate your current theme, to see if it is causing a conflict? My theme created quite a few conflicts with this plugin, which I managed to resolve with custom code. But I did not have this issue you are having.

[2015-11-12 17:56] Blackhawke commented on #60
No I didn't. That's good to know, but disappointing. We're running 40 plugins, and all of them play nice except this one. I'm rather surprised too, as it's a Wootheme. Still... Everybody can't be out of step except Johnny, as it were. :P

[2015-11-12 17:58] Blackhawke commented on #56
As you noticed in the other bug report I filed, I had to disable the plugin because of the media library bug, so I never got a chance to see if the blank page problem persisted throughout the system.

[2015-11-13 02:08] technofreaky commented on #60
@Blackhawke hi
thanks for using my plugin.. i have also checked in my local but i can't find the issue.
so i would like to check the issue in your setup. i kindly request you to provide admin access to check for the issue :)

please send the login info via email : varunsridharan23@gmail.com

[2015-11-13 06:02] technofreaky commented on #22
@macra

this feature cannot be done for now :( because there some core modification for this sorry

[2015-11-13 06:02] #22 closed

[2015-11-13 06:09] kkotha82 opened #61 "Quick add donation without project selection"
Let us say if my project id no. 26 is a project called "educate a child". On my homepage, let us say I write a content for educate child, and below that I put our shortcode like [wc-quick-donate id="26"]. Only the amount and Donate button should appear, since the plugin already knows what project id=26" is. When i input an amount, and hit donate, it is automatically added to the cart, with project

[2015-11-13 07:47] #52 closed

[2015-11-13 07:47] #56 closed

[2015-11-13 23:36] Wysgraphics opened #62 "Latest version will not activate"
Initially the updated plugin crashed the admin area. Once I managed to recover from that I tried to activate it from the plugins dashboard and it gives this error:
[code]

I know you tried to fix this in your latest beta release but it still doesn't seem to be working.

[2015-11-14 00:12] technofreaky commented on #62
hi

can you please download the latest version from github and try

[2015-11-14 00:15] Wysgraphics commented on #62
I am using Version 1.3.7.1 BETA. Is there a newer one? I'm new to Github... where do I get it?

[2015-11-14 02:06] technofreaky commented on #62
Yes new version is in github

On Sat, Nov 14, 2015 at 5:45 am, Wysgraphics < notifications@github.com [notifications@github.com] > wrote:
I am using Version 1.3.7.1 BETA. Is there a newer one? I'm new to Github...
where do I get it?

—
Reply to this email directly or view it on GitHub
[https://github.com/technofreaky/woocomerce-quick-donation/issues/62#issuecomment-156596047] .[https://github.com/

[2015-11-14 02:52] Wysgraphics commented on #62
Downloaded, re-installed, same problem. "Plugin could not be activated because it triggered a fatal error."
Parse error: syntax error, unexpected T_PAAMAYIM_NEKUDOTAYIM in /home2/wysdomgr/public_html/XXXXXX/wp-content/plugins/woocommerce-quick-donation/includes/admin/class-admin-functions.php on line 137

[2015-11-14 02:53] technofreaky commented on #62
Hi,

Ok could you please tell which version of php are you using

On Sat, Nov 14, 2015 at 8:22 am, Wysgraphics < notifications@github.com [notifications@github.com] > wrote:
Downloaded, re-installed, same problem. "Plugin could not be activated because
it triggered a fatal error."
Parse error: syntax error, unexpected T_PAAMAYIM_NEKUDOTAYIM in
/home2/wysdomgr/public_html/XXXXXX/wp-content/plugins/

[2015-11-14 03:11] Wysgraphics commented on #62
According to my hosting control panel php 5.4.24 running Linux

[2015-11-14 03:12] technofreaky commented on #62
Ho ok

Is there any possibility to check for php5.5

On Sat, Nov 14, 2015 at 8:41 am, Wysgraphics < notifications@github.com [notifications@github.com] > wrote:
According to my hosting control panel php 5.4.24 running Linux

—
Reply to this email directly or view it on GitHub
[https://github.com/technofreaky/woocomerce-quick-donation/issues/62#issuecomment-156616967] .[https://github.com/notificat

[2015-11-14 03:22] Wysgraphics commented on #62
It seems I have an option to use various forms of php 5.4 or 5.6 Beta. No 5.5. But this is all server settings where I host a few different sites. I'm not a programmer so I don't want to break anything because I don't really know how I can restore things if I do.

[2015-11-14 03:24] technofreaky commented on #62
Ok I am sorry.. First let me try to replicate the same with the php version you
said and try to fix this

On Sat, Nov 14, 2015 at 8:52 am, Wysgraphics < notifications@github.com [notifications@github.com] > wrote:
It seems I have an option to use various forms of php 5.4 or 5.6 Beta. No 5.5.
But this is all server settings where I host a few different sites. I'm not a
programmer so I don't want to

[2015-11-14 05:28] technofreaky commented on #62
@Wysgraphics if you are avaiable can you please come for support chat ?
https://www.hipchat.com/gVcsNs3aC

[2015-11-14 07:50] technofreaky commented on #62
Hi,

After debuging your site i found the below issue with my plugin :( i am sorry for the issue. which will be fixed in few min and update in github
[code]

[code]

[2015-11-14 08:10] #62 closed

[2015-11-14 08:31] Wysgraphics commented on #62
Thanks! I think I can work it from here :)

[2015-11-15 00:53] technofreaky commented on #60
@Blackhawke No update from you ?

[2015-11-15 01:04] technofreaky commented on #41
@ierpe i tried to fix this. but its default. wp action and we have just modified wp / wp via actions & filter to list donation under donation menu. but when order opens it works perfectly.

if you have any idea / found a solution. you are welcome to open a pull request

[2015-11-15 01:04] #41 closed

[2015-11-15 01:42] technofreaky commented on #39
@tmextreme  as there no reply . i am closing this request

[2015-11-15 01:42] #39 closed

[2015-11-15 17:53] Blackhawke commented on #60
Hey! I sent you the login information via the email above 2 days ago. Did you not get it?

[2015-11-15 21:23] Blackhawke commented on #60
Okay... Just got the update notice. Re-enabled the plugin after updating and it *seems* to be working okay now. No more media library problems, and no more blank pages after saving, and all that jazz.

So... So far, so good. You through nosing around our site? :)

[2015-11-16 04:27] technofreaky commented on #60
Cool :) nice

[2015-11-19 12:36] ierpe opened #63 "Doubled email"
Hi,

I'm not sure if the problem is linked with the fact that I mad some modifications to the plugin... but I receive 2 emails when a donation is made.

One "New donation" from WCQD, and one "New order" from WC.

Are you experiencing the same problem?

[2015-11-19 12:38] technofreaky commented on #63
@ierpe
with which version you are getting the same issue ?

[2015-11-19 12:41] ierpe commented on #63
Version 1.3.8 BETA

But as I said, I am using my modified version of the plugin, so it could come from a modification I've made.
For info, I'm also using this https://nicolamustone.com/2015/01/21/customize-the-thank-you-page-in-woocommerce/ to customize the "thank you" pages

[2015-11-19 12:41] technofreaky commented on #63
@ierpe
have you modified any email code in our plugin ?

[2015-11-19 12:43] ierpe commented on #63
well no I don't think so, I'm just overriding the email templates in my theme, but as far as I can remember, I don't think I touched anything "email related" in the core of the plugin.

[2015-11-19 12:43] technofreaky commented on #63
@ierpe if you dont mind can you please come online in our support chat sys ?

[2015-11-24 13:09] NaitoKenzo opened #64 "Field options"
Hi there,

Being able to add one or more fields so that donators can tell us a bit more about them would be nice!
I've looked into the files but I can't figure out where I should add this. Other than in the template I mean.

Cheers,

Kenzo

[2015-11-24 13:13] technofreaky commented on #64
Hi,

This feature is not currently available but sure will add it

[2015-11-24 18:48] ierpe opened #65 "WooCommerce Mini Cart Widget being overwritten on shop page"
On my shop page, when I add the WC cart widget on the sidebar, it is using the template from
``` plugins/woocommerce-quick-donation/template/cart/donation-mini-cart.php ```
instead of
``` themes/mytheme/woocommerce/cart/mini-cart.php ```

My site has a WC shop and the WCQD pluign... Is it possible to display the "donation cart" only on some specific page / sidebar ?

[2015-11-24 23:24] BurlesonBrad commented on #65
@ierpe There are several options for this.  You can either hard code some conditional rules so that only certain widgets are displayed on certain pages.  However a better solution might be to use a plugin so that you can customize these options much easier:
https://www.google.com/search?num=20&q=show+widget+on+specific+page

[2015-11-24 23:32] ierpe commented on #65
Hey Brad, thanks for your answer!

I probably explained myself a bit wrong here.
The thing is, on my shop page(s), like the main products page or the single product page of WooCommerce (and not WC Quick Donation), the mini cart template that is being used is :
``` plugins/woocommerce-quick-donation/template/cart/donation-mini-cart.php ```
or
``` themes/mytheme/woocommerce/donation/cart/donation-mi

[2015-11-25 02:29] technofreaky commented on #65
@ierpe
sorry i think its a code mistake in my plugin. let me check and solve this and update here. thanks for reporting the bug here

@BurlesonBrad Thanks for your contribution :)

[2015-11-25 11:53] #65 closed

[2015-11-25 11:53] technofreaky commented on #65
Fixed And Updated in github

[2015-11-25 11:53] technofreaky commented on #61
Added Feature And Updated in Github

[2015-11-25 11:54] #61 closed

[2015-11-25 12:32] #60 closed

[2015-11-28 22:03] Blackhawke opened #66 "Password required - intermittent"
It seems that, at times, for some reason, the plugin is showing a required password field (as though the user has to register in order to donate) on the checkout page.

Is anyone else having this issue? I got it once. Closed the checkout page, went back, it was gone. I "made a donation" to close the transaction, tried again, and I can't get it to return.

That was scary though! A good way to drive

[2015-11-29 01:38] technofreaky commented on #66
@Blackhawke i don think its this plugin issue. its possible can you provide us some screenshots ?at the you get the issue ?

[2015-11-29 19:15] Blackhawke commented on #66
You could be right. I'd provide a screen shot if I could reproduce the bug. It might be a glitch in woocommerce itself.

[2015-11-30 15:39] efficience opened #67 "Language"
Hi

Thanks a lot for your plugin, it's great !

I've only got one little problem with the language. I need it in french, but the language doesn't change it's always in english.
I made a lot of tests but without success.
Maybe a problem with public function load_plugin_mo_file ?

Thanks
Regards
Regis

[2015-12-04 14:59] bastienho commented on #67
I figure the same issue.
I tried to copy the files with native WordPress structure

- woocommerce-quick-donation-fr_FR.mo
- woocommerce-quick-donation-fr_FR.po

and commnt the filter relative to text domain... bu nothing.

Maybe `plugins_loaded` hook is too late for loading a textdomain ?

[2015-12-17 08:17] jeremymatter opened #69 "Php string missing"
the file donation-form.php which displays the donation form does contain plain text instead of a translatable php string with a text-domain

<form method="post">

    <table>
        <tr>
            <td>__( 'Donation Project', WC_QD_TXT )</td>
            <td> <?php echo $donation_box; ?></td>
        </tr>
        <tr>
            <td>__( 'Donation Amount', WC_QD_TXT ) <?php echo $currency; ?></

[2015-12-18 13:19] BASICSScotland opened #70 "Error in WordPress 4.4 Multisite"
I get the following error since updating to 4.4 in a WordPress Multisite install -

Warning: array_flip(): Can only flip STRING and INTEGER values! in /homepages/15/*******/htdocs/Website_16/wp-content/plugins/woocommerce/includes/admin/class-wc-admin.php on line 192

Have * out my account number.

[2015-12-18 15:49] BurlesonBrad commented on #70
that were from this plugin, wouldn't the error message be something from the woocommerce-quick-donation folder and not

/wp-content/plugins/woocommerce/includes/admin/class-wc-admin.php on line 192

[2015-12-18 15:55] BASICSScotland commented on #70
The error only appears when I activate the quick donation plugin.

[2015-12-19 03:04] technofreaky commented on #70
@BASICSScotland
I am not sure that it will work with wp multisite environment.
but i will sure check it with a multisite environment in my local
Can you please give us a sys report from the plugin ? WC / WC QD

@BurlesonBrad
Have you tried testing in multisite environment ?
And thanks for your time :)

[2015-12-25 16:47] hemnathmouli opened #71 "Page goes blank when filter is clicked"
In admin panel Quick Donation -> Donation's -> Click filter without entering customer name. This returns an empty page. Please kindly look into this bug.

[2016-01-01 05:41] kkotha82 opened #72 "Donation becomes 0.00 and page goes blank when order action executed"
Steps to reproduce:
1) Go to WCQD --> Donation's --> Open a Donation
2) On top right, go to Order Actions --> Resend Order Emails --> Completed Order
3) Hit the little round button
4) Page goes blank and donation amount becomes 0

[2016-01-03 06:33] restyles4 opened #73 "Price changes to "FREE" ...Please advice"
Using Woo with typical variable product setup. 6 donation choices. Used product sku from auto creation on install. Trying to help an important non-profit use your plug-in. Please advice ASAP.

Thank You,
RE

[2016-01-03 06:48] technofreaky commented on #73
@restyles4
Really sorry.. i can't understand what you are trying to say. can you please explain it :?

[2016-01-03 07:15] restyles4 commented on #73
https://www.dropbox.com/s/q1q76yp6h57f1id/20160103_015700.mp4?dl=0

[2016-01-03 07:18] technofreaky commented on #73
Will check and get back to as soon as possible

You can contact me via my email

Varunsridharan23@gmail

On Sun, Jan 03, 2016 at 12:45 pm, restyles4 < notifications@github.com [notifications@github.com] > wrote:
https://www.dropbox.com/s/q1q76yp6h57f1id/20160103_015700.mp4?dl=0
[https://www.dropbox.com/s/q1q76yp6h57f1id/20160103_015700.mp4?dl=0]

—
Reply to this email directly or view it on GitHub

[2016-01-03 07:28] restyles4 commented on #73
Thought this also might help. System Info Video:
https://www.dropbox.com/s/7cloo8zjmunahb0/20160103_021821.mp4?dl=0

Thanks...appreciate anything you can do...

RE

On Sun, Jan 3, 2016 at 1:48 AM, Varun Sridharan <notifications@github.com>
wrote:

[2016-01-03 07:29] restyles4 commented on #73
### Begin WooCommerce Quick Donation Status ###

-- WordPress Environment

Home URL:                 https://hairheroes.foundation
Site URL:                 https://hairheroes.foundation
WP Version:               4.4
WP_DEBUG:                 Disabled
WP Language:              en_US
Multisite:                No
WP Memory Limit:          40MB
WP Memory Limit Status:   Not OK - Recommended Memory Li

[2016-01-03 11:13] technofreaky commented on #73
@restyles4

you should use the below shortcode
`[wc-quick-donation]`

you should not view the product page of donation

if you need me to set it up for you. please contact me via email

[2016-01-03 16:06] restyles4 commented on #73
I tried the short code in every conceivable place possible. Product, tag,
category on both sides of plug-ins. In yours under project which seems to
not go anywhere functionally, and also on Woos under product.

Your "Quick Donation" plug-in product entry install file doesn't' seem to
fully follow over to Woocommerce product. I'm assuming that your plug-in
Cat and Tags are for "Projects" under your

[2016-01-04 02:39] technofreaky commented on #73
@restyles4
Please contact me via skype. so that i can help you more on this.

Skype ID : varunsridharan23

[2016-01-06 04:53] Finjas opened #74 "woocomerce-quick-donation - How to"
I have installed this plugin but can not seem to get it to work.

I'm new to Wordpress. I created a new page and inserted the shortcode. If I run the page I get only th option to enter the amount and then click on the donate button. Then nothing happens.

Could you help please

[2016-01-06 05:19] technofreaky commented on #74
@Finjas

after you install this plugin. you will have a new menu in admin menu bar, in the name of " Quick Donation :) "

First you need to configure the project and then you can use the Shortcode.

if you need i can set it up for you. but it will be chargeable @ 25USD Pre request

[2016-01-06 05:30] Finjas commented on #74
Thanks for the reply.

I have seen “Quick Donation” option, and has configured the project before I contacted you. I must be doing something wrong .

Do you have any documentation regarding the configuration of the project?

From: Varun Sridharan [mailto:notifications@github.com]
Sent: 06 January 2016 07:20 AM
To: technofreaky/woocomerce-quick-donation
Cc: Finjas
Subject: Re: [woocomerce-quick-don

[2016-01-06 05:30] technofreaky commented on #74
Check this
http://wordpress.org/plugins/woocommerce-quick-donation/

[2016-01-06 05:37] #73 closed

[2016-01-08 07:42] Finjas opened #75 "woocomerce-quick-donation - Settings"
Hi

In Wordpress. I click on Plugins, and then scroll to Woocommerce Quick Donation en select "Settings". I get the following message.
"You do not have sufficient permissions to access this page"

[2016-01-08 07:48] technofreaky commented on #75
The settings menu will be in the left side of admin menu

1. Quick Donation
     --> Settings

[2016-01-08 07:48] #74 closed

[2016-01-08 07:58] Finjas commented on #75
Thanks

I found it there, but could not find a place to customize. I would like to change the color of the text (at the moment it defaults to red) and placing to fit my theme. I’m using Roen theme

From: Varun Sridharan [mailto:notifications@github.com]
Sent: 08 January 2016 09:49 AM
To: technofreaky/woocomerce-quick-donation
Cc: Finjas
Subject: Re: [woocomerce-quick-donation] woocomerce-quick-don

[2016-01-11 06:24] marunkuma opened #76 "donation project name is not displaying"
Hi,

donation project name is not displaying on cart page or in checkout page. so finaly we cant identify the amount for what project.
Thank you

[2016-01-11 06:24] technofreaky commented on #75
@Finjas
sorry for the dealy.

Which text you need to change the color ??

[2016-01-11 07:25] marunkuma commented on #76
![image](https://cloud.githubusercontent.com/assets/16592155/12228514/939bec82-b862-11e5-89e4-5ecb1e22d47b.png)

[2016-01-11 07:26] marunkuma commented on #76
![untitled-2](https://cloud.githubusercontent.com/assets/16592155/12228529/c6ff80d4-b862-11e5-8791-35ea8b6b1715.jpg)

[2016-01-11 07:27] marunkuma commented on #76
I need the project details to show. I used [wc_qd_single id=”2842″] code. Please help me

[2016-02-15 15:16] dmayembe opened #77 "Recurring option"
I would be nice to have a " recurring type payment" option on it. I like the plugin

[2016-02-25 19:33] John078 opened #78 "50 cents"
Hi,

I want to let the users make a donation of half euros. For example €25,50.
How can i do it?

Thanks in advance!

[2016-03-06 23:51] macra commented on #20
Hi Varun,
I had to move on with other projects, and was unable to complete all the
issues I had with the quick donation plugin. It was working for the most
part by directing the customer to the checkout page due to the missing
button, however our client came back to us today noting that the checkout
page now throws and unresponsive script error. I downloaded the latest
version from Github and adde

[2016-03-07 00:25] BurlesonBrad commented on #20
@macra  DONT POST THAT ON A PUBLICLY ACCESSIBLE FORUM!!!!!!!! DELETE IMMEDIATELY!

[2016-03-07 00:49] technofreaky commented on #20
@macra Kindly Send the details via Email.. and also please do not post the login details in public.

[2016-03-07 05:51] macra commented on #20
Holy smokes, thanks Varun. I replied via email not realising it was going to post here.

[2016-03-07 06:06] BurlesonBrad commented on #20
:+1: @macra , I'd still change up some passwords and logins just to be on the safe side.  Unfortunately, you'll never know who did a screen shot of those server credentials :stuck_out_tongue_winking_eye: **_until it's too late_**

[2016-03-07 12:47] John078 commented on #78
Well, i tried it again but it didn't work. In the image u can see whats the error. I looken in my Woocommerce settings and there stays:
Decimal Separator: .
Number of Decimals: 2
But still doesn't work.
Here u see the image, its dutch because im from holland, but it says: "put a valid value, the closest numbers are 15 and 16."
![error_quickdonation](https://cloud.githubusercontent.com/assets/14293

[2016-03-07 13:21] technofreaky commented on #78
@John078
Then please override this template

` woocomerce-quick-donation/template/fields/field-text.php`

And add the blow code on the top of the override template

[code]

[2016-03-07 15:02] John078 commented on #78
Thanks, this worked for me!

[2016-03-07 20:56] macra commented on #20
BurlesonBrad, yeah I did that pretty much immediately once I had realised what happened.

[2016-03-13 20:07] d2bproject opened #79 "Donation becomes 0.00 when Completed action is executed"
When I mark an order Completed the amount of the donation changes to 0.00 - thins affects reporting like on the dashboard and the qd donations list page

[system info.txt](https://github.com/technofreaky/woocomerce-quick-donation/files/171202/system.info.txt)

[2016-03-22 21:37] mariusonline opened #80 "WooCommerce Donation Product Not Exist"
the dashboard states after the update
"WooCommerce Donation Product Not Exist"
also when i enter the short code back in the cart  template i get a blank page.
I am using the latest woocommerce plugin.

[2016-03-23 00:53] technofreaky commented on #80
@mariusonline
I think you deleted the donation product.

please go to sys tools in the plugins menu and click install / create donation product

[2016-03-23 03:01] mariusonline commented on #80
I reinstalled the plug in, and added the donation product and I am getting this error in the cart when I add the short code"The connection was reset"
And get a blank page.

      From: Varun Sridharan <notifications@github.com>
 To: technofreaky/woocomerce-quick-donation <woocomerce-quick-donation@noreply.github.com>
Cc: mariusonline <mariusonline@yahoo.com>
 Sent: Tuesday, March 22, 2016 5:53 PM

[2016-03-23 03:26] technofreaky commented on #80
@mariusonline
Please contact me directly to get this solved

[2016-03-23 15:48] John078 commented on #78
Hi again,
Can i please ask u one more thing?

I only want to have a positive amount of donation.
How can i do this?
Tried so many things but -6 also works and then i have to pay -6 euros. Seems ugly..

[2016-03-23 20:07] shawnholt opened #81 "Documentation or example"
This is just what we need and grateful for your contribution but I find it really confusing.  I see you have shortcodes with parameters but are they documented?  Why would I want to create a project with a page link and not use a regular page?  I'm spending so much time trying to figure this out but some examples would be wonderful :)

[2016-03-24 02:43] mariusonline commented on #80
please provide an email address.

      From: Varun Sridharan <notifications@github.com>
 To: technofreaky/woocomerce-quick-donation <woocomerce-quick-donation@noreply.github.com>
Cc: mariusonline <mariusonline@yahoo.com>
 Sent: Tuesday, March 22, 2016 8:26 PM
 Subject: Re: [woocomerce-quick-donation] WooCommerce Donation Product Not Exist (#80)

@mariusonline
Please contact me directly to get thi

[2016-03-24 02:52] technofreaky commented on #80
@mariusonline
Sorry . :)
Please use.

Varunsridharan23@gmail.com / plugin@varunsridharan.in

[2016-03-28 20:23] jan1980 commented on #67
Hi guys,

As a temporary fix, could it work if we add the translatable strings to the WooCommerce .po language files themselves?

Cheers,

[2016-03-29 00:37] #67 closed

[2016-03-29 00:38] technofreaky commented on #67
@jan1980
@bastienho
@efficience

I am sorry for the delay.

I have just fixed the language issue. can you please download the latest version from here and please check it out ?

[2016-03-29 16:15] jan1980 commented on #67
Excellent, many thanks!
Best regards,

[2016-04-01 06:41] LRWoot opened #82 "Issues with Adding to Cart"
I'm trying to add this plug in to use with WooCommerce, but it seems it will not allow a donation to be added unless the cart is empty. Is there a way to add if something is already in the cart?

Also, if I add a donation to the empty cart, when I continue to shop and add an additional item to my cart, your plug in re-names the new (non donation) item to my donation name, so it appears that I have

[2016-04-04 10:45] jan1980 opened #83 ""Projects" in WPML plugin (WordPress Multi Language)"
Many thanks for this nice plugin.

I noticed that when using WPML, once we make the Projects translatable, the Submit Donation Form display all projects from all languages (as "options" to select from).

However, only the current language would need to be displayed.
Is there something we can add to fix it?

Many thanks for any guidance,

[2016-04-04 10:48] technofreaky commented on #83
@jan1980

Still our plugin is not yet stable. we are trying to make it more stable. and later we decided to make it compatable with WPML.

i am looking for some good contributors how can really test and provide us some info on bugs, provide some idea on new features. and more

[2016-04-06 10:30] jan1980 commented on #83
I fixed it by using the single donation shortcode instead, on each translated page, using the correspondent donation / project ID.
I can provide feedback for WPML (will open a new ticket for a certain issue).

[2016-04-06 10:39] jan1980 opened #84 "WPML can't find the correct Cart URL for secondary languages"
Normally, when we click on Add Donation, we are redirected to the Cart Page -if we have selected it on the Settings screen-.

However, this redirect will bring us to the site's primary language Cart Page.

For example, if my site is in english (primary) and spanish (secondary), and I'm doing a donation from a spanish page, I'll end up in the english Cart Page /cart/ instead of /carrito/

If I look

[2016-04-06 11:28] jan1980 commented on #84
Sorry, I had to enable WooCommerce Multilingual :) ouch!
Now it's working fine.

Although an error message appears when adding donations to the cart:

[2016-04-06 12:38] #84 closed

[2016-04-06 12:39] #83 closed

[2016-04-06 12:44] jan1980 opened #85 "Strange message related to cart session in WPML"
Hello there,

Here's what I did:

- created a Project in german
- translated it to English and Spanish
- created static pages to show the projects, again  one for each language
- ...and pasted the projects shortcodes there, targeting by project ID
- then I go to Add Donation in the primary language (german) and it works OK
- ...but I go to English or Spanish and this message is shown when adding a

[2016-04-13 05:20] saulg1 opened #86 "Quick Donate"
Quick Donate page does not show project and sub items

[2016-04-26 12:03] ierpe opened #88 "Different payment systems between WC and WCQD"
Hi Varun, hope all is good! :)

While implementing the recurring donation, I'm facing a small problem, that I currently solved by using some javascript, but it's not a good solution.

Basically I am using a payment gateway for recurring payments, that can be used for donations, but shouldn't be available while shopping products.
The thing is that if I disable this payment gateway in WC, it becomes

[2016-04-26 12:33] technofreaky commented on #88
@ierpe i think its 50% possible..

[2016-05-18 13:11] nextime commented on #77
+1 for this feature

[2016-05-18 13:35] nextime opened #89 "Anonymous donation (feature request)"
A way to add a quick anonymous payment with a pre-filled and hidden checkout form woulb be optimal for projects where you don't need/want to know identity details about who is donating

[2016-05-18 13:45] technofreaky commented on #89
Hi,

If you enable guest checkout it will work

On Wed, May 18, 2016 at 7:05 PM, Franco (nextime) Lanza <
notifications@github.com> wrote:

--

Varun Sridharan
Cell : +91 904 224 8903
Email : varunsridharan23@gmail.com
Website : http://www.varunsridharan.in/

[2016-05-18 16:32] nextime opened #90 "woocommerce quick donation doesn't work with aelia currency switcher"
Apparently there are issue is how the "price" is managed and it show "Sorry, this product cannot be purchased"

[2016-05-18 16:39] nextime commented on #89
Guest checkout isn't anonymous, it let user to checkout without creating a user, but it require to enter billing data, anonymous checkout should show only  the payment form without requiring/show form to enter billing data at all

[2016-05-19 14:08] nextime opened #92 "Donation reports (feature request)"
A donation reports per project public page and/or a shortcode to add to the project page to report how many donations/how mutch money a project have received should be a great addition

[2016-05-19 14:10] nextime opened #93 "a way to edit "/donations" page and/or a shortcode to list all projects (feature request)"
This addition will ease the management of a multiple sub-project donation campaign

[2016-05-19 14:11] nextime commented on #90
Moved to woocommerce-currency-switcher instead of the aelia version, sent a pull request to add support for it at https://github.com/technofreaky/woocommerce-quick-donation/pulls

[2016-05-19 14:11] #90 closed

[2016-05-28 16:04] manattweb opened #94 "Multiple Lines in Debug Log"
I'm getting the following lines in my debug log:

[27-May-2016 19:29:21 UTC] PHP Notice:  Undefined property: WooCommerce_Quick_Donation_Admin::$sys_info in /home/content/p3pnexwpnas14_data02/75/3052575/html/wp-content/plugins/woocommerce-quick-donation/includes/admin/class-admin-init.php on line 57
[27-May-2016 19:29:21 UTC] PHP Notice:  Undefined property: WooCommerce_Quick_Donation_Admin::$orde

[2016-06-14 17:31] richmahn opened #95 "My Quick Donation Page keeps reloading the page"
Hi, if you go to my donation page at http://northwestsciencemuseum.com/donate/ No matter what project I pick or how much I put in for the amount, when I click the Add Donation button, it just reloads the page, staying on the same form. I have tried uninstalling and installing yet no luck.

My donation page just has this for the donation plugin form:

[wc_quick_donation]

Again, the page in questio

[2016-06-15 03:40] technofreaky commented on #95
@richmahn
Are you using the latest version from github ?

If not can you please download from github and check ?

[2016-08-11 17:35] Christopher-Janda commented on #95
I am also experiencing this issue. I have a development site and live site set up that are in sync except for the databases.

The issue is appearing on the live site but not the development site.

Here are the specific things I have tried and have not had success with

- Recreate the donation product
    - I renamed the original product and did not outright delete it
    - It wouldn't let me use t

[2016-08-12 02:01] technofreaky commented on #95
Dear @Christopher-Janda  @richmahn

I know there are lots of issue in this plugin. so i already started to develop a brand new version.
I am looking for some testers.

if you would like to contribute your time in testing.

please go to https://goo.gl/forms/rUrMZ4jphGP4kHWo1

[2016-08-14 12:42] evanomondi opened #96 "Error on Preview woocommerce email"
Hi am getting the below error while trying to preview woocommerce emails. I have already updated the plugin with this current repository

Fatal error: Call to a member function get_cart() on a non-object in /home/**/public_html/wp-content/plugins/woocommerce-quick-donation-master/woocommerce-quick-donation.php on line 100

[2016-09-01 00:54] psinapod opened #97 "Woocommerce quick donation"
I have tried to configure gateway a few times but it will not allow me too. No error coming up but when I click button nothing happens

[2016-10-12 01:07] tangilo opened #98 "Checkout Page Template"
There is an alignment issue on the checkout page after donation is added. The Donor Details is cut off on left side, please see image of how it looks. you can also see it here: http://dogsofhope.org/checkout/

![dogsofhope_org_checkout](https://cloud.githubusercontent.com/assets/22781864/19293932/690de7e2-8ff6-11e6-9e1e-586fae83db99.jpg)

[2017-02-13 16:20] paupaul opened #99 "How to prrevent negative amount"
Hi,

in the amount input field there are up/down arrows to increase/decrease the amount entered. They allow the user to go down to zero and even below, although I have set up a minimum donation of 1 in the project settings.

![negative-amount](https://cloud.githubusercontent.com/assets/6918140/22891748/9a6d0148-f210-11e6-9042-a41d72879b86.jpg)

The donation is even submitted with negative numbers!

[2017-02-22 10:56] imokweb opened #100 "Conflict with WooThemes Subscriptions plugin"
Hello,

The Quick donation plugin has a conflict with the Subscriptions plugin https://woocommerce.com/products/woocommerce-subscriptions/

If the quick donation is activated on a site, the Subscriptions menu item in the WP Admin is not showing the subscriptions.

Screenshot with the problem: http://prntscr.com/eb93ag

Can you please check and fix this problem?
Thanks a bunch!
Istvan

[2017-02-22 12:44] kkotha82 commented on #100
Hi @imokweb

The current version of the Donations Plugin has numerous issues. In view of this, we have already developed a new version from the ground up, which is currently in beta phase. We have integrated the new version with WC Subscriptions as well.

If you are interested in the new version, please contact the developer of this plugin directly at varunsridharan23@gmail.com.

Thanks!

[2017-02-22 12:45] kkotha82 commented on #99
Hi @paupaul

The current version of the Donations Plugin has numerous issues. In view of this, we have already developed a new version from the ground up, which is currently in beta phase. We have integrated the new version with WC Subscriptions as well.

If you are interested in the new version, please contact the developer of this plugin directly at varunsridharan23@gmail.com.

Thanks!

[2017-02-22 13:23] imokweb commented on #100
Thanks, I've wrote to the email address you've provided.

Have a great day,
Istvan

[2017-06-07 16:10] gabit035 opened #101 "Menu management is broken when you activate the plugin"
Menu management is broken when you activate the plugin

[2017-06-21 21:01] ygtandoh opened #102 "Quick Donation has disabled all other payment methods for regular products"
Hello I had installed your plugin but it has disabled payment methods for everything else but only donations. This is pretty frustrating and I need a resolution.

[2017-06-22 02:26] technofreaky commented on #102
@ygtandoh i can understand. we are already working on a new version which has lots of improvements and many new features. if you are interested in testing please contact me via email / skype
Email : varunsridharan23@gmail.com
Skype : varunsridharan23

[2017-06-22 02:28] ygtandoh commented on #102
You can send me a copy of the new version whenever it's ready...also How do
I completely delete the plugin and it's settings from wordpress?
thanks...Yaw Tandoh

On Wed, Jun 21, 2017 at 10:26 PM, Varun Sridharan <notifications@github.com>
wrote:

[2017-06-29 08:52] CoolWind commented on #101
Exactly the same is happening in one of my sites using Wordpress 4.8.

[2017-06-30 14:51] technofreaky commented on #101
@gabit035 @CoolWind
sorry for the delayed answer.
right now with this version we have many issues. so i developed a new version. but i am not able to test it. so i am looking for some one how can help us in testing the plugin.

soon i will release an new version.

[2017-09-15 07:33] jon4god opened #103 "Does not show the menu in the admin menu settings"
You need to add
 `if (! $ Woocommerce ||! Isset ($ woocommerce-> cart)) return;`
in
woocommerce-quick-donation.php

    /**
     * Checks If Donation Product Exists In Cart
     */
    public function check_donation_exists_cart(){
        global $woocommerce;
        $found = false;
        if( ! $woocommerce || !isset($woocommerce->cart) ) return;
        if( sizeof($woocommerce->cart->get_cart()

[2017-09-15 14:36] technofreaky commented on #103
Hi,

Thanks for the fix.

As you already seen its too old plugin. but i have made a brand new version with many improvements and changes. if you are interested in testing it. please do ping me @ skype : varunsridharan23

[2018-06-06 07:57] umeshmahajan7 opened #104 "Not Showing Donations in list or in details"
We are using quick donation plugin to receive donations, at begning it was all ok but now its not showing the donations made by our donors. it here is the screen shot.  please let me know what can be done or from where i can see the donors list.
![quickdonation](https://user-images.githubusercontent.com/37763523/41024588-495020f6-698d-11e8-8af0-cbcc69cfcdb1.PNG)

[2018-07-15 22:29] jilenloa commented on #104
I am experiencing same issue

[2019-05-28 20:52] wz30 opened #105 "fake donation with 0 and fake info --potential hacker"
I got a donation yesterday with fake info and 0$. But I set the limit to 5. So there is no way to donate 0. Anyway, I am wondering if this issue related to the plugin or what potential problems will generate with 0 donations.

[2020-02-07 17:39] sreekanth236 opened #106 "store donation order status into database"
Hi Varun

How to store donation order status into database

`public function save_order_id_db($order_id){
        global $woocommerce;
		if($this->check_donation_exists_cart()){

			$price = intval($woocommerce->session->donation_price);
			$project_id = intval($woocommerce->session->projects);
			$user_id = get_current_user_id();
			update_post_meta( $order_id,"_is_donation",true);
			update_post

[2020-08-28 09:14] bastienho commented on #104
This plugin seems to be not maintained anymore.

Anyway, we still use it on a legacy site, and the workaround is to edit **includes/admin/class-admin-order-page.php** at line **39**

and replace

[code]

by
[code]

[2021-03-05 03:19] liwei03116 opened #107 "form change"
i am a new woocommerce developer. does anyone can help me this issue. The issue is I need to show different contents when I was choose different options from drop down list. the first picture is show what I have, and second one is what I want. based on drop down list choose.
![image](https://user-images.githubusercontent.com/50935537/110062582-a2e2de00-7dbd-11eb-8e80-7ad9184ec4b4.png)
![image](htt